@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap");

* {
  font-family: "Chau Philomene One", sans-serif;
}
body {
  margin: 0;
}

.p-inputtext:enabled:hover {
  border-color: #a9b388;
}
.p-inputtext:enabled:focus {
  border-color: #a9b388;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  color: #5f6f52;
  border: 1px solid #e2eac8;
  background-color: white;
}
.p-accordion .p-accordion-content {
  border: 1px solid #e2eac8;
  background-color: white;
  text-align: center;
}
.border-green-800 {
  border-color: #5f6f52 !important;
}

/*TimeLine */
.p-steps .p-steps-item:first-of-type:before {
  left: 50%;
  width: 50%;
}

.stepsDiv .p-disabled,
.stepsDiv .p-component:disabled {
  opacity: 1;
}
.stepsDiv .p-steps .p-steps-item:before {
  border-top: 2px solid #a9b388;
}
.p-steps .p-steps-item:last-of-type:before {
  width: 50%;
}

/* X Cerrar dialogos */
.p-dialog .p-dialog-header .p-dialog-header-icon {
  color: #783d19;
}
.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: #c4661f;
  background: #ffffff;
}
.p-dialog .p-dialog-header {
  border-bottom: none;
}

/* Menu */
.p-menubar.p-menubar-mobile .p-menubar-button:focus {
  box-shadow: none;
}
