@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap");

* {
  font-family: "Chau Philomene One", sans-serif;
}
body {
  margin: 0;
}
.stepsDiv .p-disabled,
.stepsDiv .p-component:disabled {
  opacity: 1;
}
.stepsDiv .p-steps .p-steps-item:before {
  border-top: 2px solid #a9b388;
}

.p-inputtext:enabled:hover {
  border-color: #a9b388;
}
.p-inputtext:enabled:focus {
  border-color: #a9b388;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  color: #5f6f52;
  border: 1px solid #e2eac8;
  background-color: white;
}
.p-accordion .p-accordion-content {
  border: 1px solid #e2eac8;
  background-color: #f2f7e4;
  text-align: center;
}
.border-green-800 {
  border-color: #5f6f52 !important;
}
